.Header {
    grid-area: Header;
    background: black;
    background-size: 100%;
    display: flex;
    position: relative;
}

.Header-LogoContainer {
    width: 50%;
    height: 100%;
    text-align: left;
    position: relative;
    margin-left: 5%;
    background: black;
}

.Header-LogoContainer img {
    width: 50%;
    height: 50%;
}

.Header-UserInfo-container {
    color: white;
    position: relative;
    margin-top: 4%;
    width: 30%;
}

.UserPhoto-container {
    border-radius: 25px;
    position: relative;
    margin-right: 3%;
    color: white;
    margin-top: 2%;
    width: 6%;
    height: 100%;
}

.UserPhoto-container img {
    width: 100%;
    height: 100%;
}

.HeaderMenu {
    background-color: #b52b2b;
    grid-area: HeaderMenu;
    display: flex;
    flex-direction: row;
}

ul {
    width: 75%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b52b2b;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: black;
}

.active {
    background-color: #b52b2b;
}

.searcher {
    width: 30%;
    margin: 0;
    text-align: center;
}

#search {
    width: 64%;
    margin: 3.5%;
    height: 35%;
    border-radius: 10px;
    font-size: 15pt;
}

#find {
    width: 20%;
    padding: 2px;
    background-color: black;
    color: white;
    border-radius: 10px;
    height: 60%;
    margin-top: 3.5%;
    font-size: 15pt;
}

@media only screen  and (max-device-width: 830px) {
    .UserPhoto-container {
        width: 8% !important;
    }
    .Header-LogoContainer img {
        width: 80% !important;
    }
}

@media only screen  and (max-device-width: 560px) {
    .Header-LogoContainer img {
        width: 90% !important;
        height: 80%;
    }
}

@media only screen  and (max-device-width: 507px) {
    .UserPhoto-container img {
        width: 115%;
        height: 50% !important;
    }
}