
html, body, .grid-container { height: 100%; margin: 0; }

.grid-container * {
    position: relative;
}

.grid-container {
    display: grid;
    font: 18pt "Courier New", Courier, monospace;
    grid-template-columns: 1.1fr 0.9fr 1fr 1fr;
    grid-template-rows: 0.7fr 0.9fr 1.4fr;
    grid-template-areas: "MainPageHeader MainPageHeader MainPageHeader MainPageHeader" "LoginForm GreetingsBlock GreetingsBlock MainPageResultsList"
    "CurrentChampTable LatestNewsBlock LatestNewsBlock MainPageResultsList";
}

.inside_block_wrapper {
    background: black;
    position: relative;
    margin: 2%;
    padding: 3%;
    color: white;
    border-radius: 10pt;
    overflow: auto;
    text-align: center;
}

.MainPageHeader {
    grid-area: MainPageHeader;
    background-size: 100%;
    display: flex;
    position: relative;
}

.MainPageResTable {
}

.HeaderContainer {
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
    margin: 0 auto;
    background: black;
}

.HeaderContainer img {
    width: 50%;
    height: 100%;
}

.LoginForm {
    grid-area: LoginForm;
    background: red;
}

.GreetingsBlock {
    grid-area: GreetingsBlock;
    background: red;
    display: flex;
    position: relative;

}

.MainPageResultsList {
    grid-area: MainPageResultsList;
    background: red;
    display: flex;
    position: relative;

}

#getIn {
    background: white;
    font: 16pt "Courier New", Courier, monospace;
    width: 50%;
}

.CurrentChampTable {
    grid-area: CurrentChampTable;
    background: red;
    display: flex;
    position: relative;
}

.LatestNewsBlock {
    grid-area: LatestNewsBlock;
    background: red;
    display: flex;
    position: relative;
}

@media only screen  and (min-device-width: 600px) and (max-device-width: 1120px) {
#pass {
    font: 12pt "Courier New", Courier, monospace !important;
}
    #userName {
        font: 12pt "Courier New", Courier, monospace !important;
    }
}

@media only screen  and (max-device-width: 599px) {
    .grid-container {
        display: flex !important;
        flex-direction: column !important;
    }

    .inside_block_wrapper {
        margin: 0.5% !important;
    }

    .LoginForm {
        font: 20pt "Courier New", Courier, monospace !important;
    }

    #pass {
        font: 22pt "Courier New", Courier, monospace !important;
    }
    #userName {
        font: 22pt "Courier New", Courier, monospace !important;
    }
}